// About Company
.about {
  // Image
  .image {
    background: url(../img/about.png) no-repeat center bottom;
    background-size: 100% auto;
  }

  // Download Catalog
  .dl-catalog {
    background: #2d3465;
  }
}
