// Lamp Animation in Index
@keyframes turns {
  from {
    background: url(../img/lamp-off.png) no-repeat center bottom;
    background-size: auto 100%;
  }

  50% {
    background: url(../img/lamp-on.png) no-repeat center bottom;
    background-size: auto calc(100% + 7px);
  }

  to {
    background: url(../img/lamp-off.png) no-repeat center bottom;
    background-size: auto 100%;
  }
}
