// Fonts
$ir-r: iransans-regular;
$ir-b: iransans-bold;
$s-r: sahel-regular;
$s-b: sahel-bold;
$r-r: roboto-regular;
$r-b: roboto-bold;

// Colors
$danger: #e4322b;
$gold: #b68842;
$footer-bg: #0d0f22;
$body-bg: #ecf2f5;
$dark-blue: #2b2f41;
$honor-card-bg: #1f2c7f;
$inner-container: #f6f8fc;
