// Variables
@import "variables";

// Mixins
@import "mixins";

// Global Header
@import "pagesHeader";

// Global Footer
@import "pagesFooter";

// Global Intro
@import "pagesIntro";

// Index
@import "index";

// About
@import "about";

// Catalogs
@import "catalogs";

// Supplier
@import "supplier";

// Contact
@import "contact";

// Employment
@import "employment";

// Login / Register / Forget Password
@import "login";

// Products > Single
@import "productSingle";

// Order
@import "order";

// Responsive Mode
@import "responsive";

// News
@import "news";

// Desktop Mode
@import "desktop";

// Animations
@import "animations";

// Right to Left Mode
@import "./rtl/rtl";

// Left to Right Mode
@import "./ltr/ltr";

// Public
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body:not(.index) {
  background: $body-bg;
}

a {
  outline: none !important;
}

// Generate Fonts
@include font($ir-r, woff2);
@include font($ir-b, woff2);
@include font($s-r, ttf);
@include font($s-b, ttf);
@include font($r-r, ttf);
@include font($r-b, ttf);

// Lines
.red-hr {
  background: $danger;
  width: 80px;
  height: 4px;
  border-radius: 2px;
}

// Colors
.c- {
  &gold {
    color: $gold !important;
  }

  &dark-blue {
    color: $dark-blue !important;
  }

  &light {
    color: #7b7b7b !important;
  }
}

// Header Description
.h-desc {
  color: #b3bfcd;
}

// Background Colors
.bg- {
  &gold {
    background-color: $gold !important;
  }

  &inner-container {
    background-color: $inner-container !important;
  }
}

h3.section-title > hr {
  width: 100px;
}

// Logo on Global Header and Footer
.logo {
  position: absolute;
  top: 50%;
  padding-top: 20px;
  width: 140px;
  height: 110px;
  border-radius: 0 0 10px 10px;
  transform: skew(0, 5deg) translate(-50%, calc(-50% + 20px));
  box-shadow: 0 0 70px 0 rgba(6, 24, 36, 0.2);
  // Logo Image
  .l-img {
    width: 80%;
    transform: skew(0, -5deg);
  }
}

// Fonts Sizes
.fs- {
  &small {
    font-size: 0.9em !important;
  }

  &regular {
    font-size: 1em !important;
  }

  &big {
    font-size: 1.2em !important;
  }
}

// Blog Card
.b-card {
  .card-title,
  .date {
    font-size: 0.9em !important;
    line-height: 1.35em;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.35em;
    white-space: nowrap;
  }

  hr {
    transition: 0.3s;
  }

  .date,
  .more {
    transition: 0.3s;
    color: #7b7b7b;
  }

  .card-body {
    transition: 0.3s;
    width: calc(100% - 20px);
    transform: translateY(-40px);
    box-shadow: 0px 9px 18px 0 rgba(222, 222, 222, 0.11);
  }
}

// Global Overlay
.g-overlay {
  top: 0;
  z-index: -500;
  opacity: 0;
  transition: 0.6s;
  width: 100vw;
  height: 100vh;
  background: #00000070;

  &.active {
    opacity: 1;
    z-index: 1100;
  }
}

// Honor Card
.honor-card {
  // Image
  .img-holder {
    & > img {
      z-index: 10;
      top: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 75%;
      background: $honor-card-bg;
      top: 0;
      left: 0;
      transform: skew(0, -2.5deg);
      border-radius: 10px;
    }
  }

  // Title
  .card-title {
    font-size: 1em;
  }
}

// Breadcrumb
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}

// Forms Field
.f-field {
  textarea {
    resize: none;
  }

  textarea,
  input {
    transition: 0.3s;
    border: 1px solid #ecf0f4 !important;
  }
}

// Jobs Card
.j-card {
  box-shadow: 0 0 50px #d2dbe550;
  transition: 0.3s;
  .card-title {
    background: -webkit-linear-gradient(0deg, #f5dca4, #bb9250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .c-desc {
    padding: 5px;
    background-size: 40% 100% !important;
  }
  &:hover {
    box-shadow: 0 0 50px #d2dbe570;
  }
}

.p-card {
  box-shadow: 0 0 50px #d2dbe550;
  transition: 0.3s;
  .img-holder {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;

      background: url(../img/products/product-thumbnail-border.png) no-repeat
        center;
      background-size: 90% 90% !important;
    }
  }

  .p-standard,
  .p-fetures,
  .p-usage {
    background-size: 100% 100% !important;
  }

  .p-standard {
    background: url(../img/products/standard-bg.png) no-repeat center;
  }

  .p-fetures,
  .p-usage {
    .f-item {
      background-size: 10px 10px !important;
    }
  }

  &:hover {
    box-shadow: 0 0 50px #d2dbe570;
  }
}

.pagination {
  .page-item {
    .page-link {
      transition: 0.3s;
      color: #7b7b7b !important;

      &:hover {
        background: #f1f6f7 !important;
      }
    }

    &.active {
      background: #f1f6f7 !important;
    }
  }
}

// Video Card
.v-card {
  .date {
    background: #edf3f5;
    overflow: hidden;
    width: 80px;
    & > .text {
      height: 30px;
      line-height: 30px;
      font-size: 0.9em;

      &:last-child {
        background: #d5dbe1;
      }
    }
  }

  .content {
    width: calc(100% - 80px);
    .card-text {
      font-size: 0.9em;
      line-height: 1.35em;
      height: 1.35em;
    }
  }
}

.articles-footer {
  .tags::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 21px;
    background: url(../icons/tag.png) no-repeat center;
    background-size: 15px 15px;
    transform: translateY(7px);
  }

  .sharing {
    border: 1px solid #e3e4f0;
    padding: 5px;

    .sh-item {
      width: 15px;

      &.facebook {
        background: url(../icons/news-single/facebook.png) no-repeat center;
      }

      &.twitter {
        background: url(../icons/news-single/twitter.png) no-repeat center;
      }

      &.google {
        background: url(../icons/news-single/google.png) no-repeat center;
      }

      &.linkedin {
        background: url(../icons/news-single/linkedin.png) no-repeat center;
      }

      &.instagram {
        background: url(../icons/news-single/instagram.png) no-repeat center;
      }

      &.telegram {
        background: url(../icons/news-single/telegram.png) no-repeat center;
      }
    }
  }
}

.passage {
  .send-comment {
    bottom: 10px;
  }
}
