// Bootstrap Default Margin
.m {
  &-0 {
    margin: 0 !important;
  }
  &t-0,
  &y-0 {
    margin-top: 0 !important;
  }

  &b-0,
  &y-0 {
    margin-bottom: 0 !important;
  }
}

// Custom Margin
.t-m {
  &-1 {
    margin: 10px !important;
  }

  &t-1,
  &y-1 {
    margin-top: 10px !important;
  }

  &b-1,
  &y-1 {
    margin-bottom: 10px !important;
  }

  &-2 {
    margin: 20px !important;
  }

  &t-2,
  &y-2 {
    margin-top: 20px !important;
  }

  &b-2,
  &y-2 {
    margin-bottom: 20px !important;
  }

  &-3 {
    margin: 30px !important;
  }

  &t-3,
  &y-3 {
    margin-top: 30px !important;
  }

  &b-3,
  &y-3 {
    margin-bottom: 30px !important;
  }

  &-4 {
    margin: 40px !important;
  }

  &t-4,
  &y-4 {
    margin-top: 40px !important;
  }

  &b-4,
  &y-4 {
    margin-bottom: 40px !important;
  }

  &-5 {
    margin: 50px !important;
  }

  &t-5,
  &y-5 {
    margin-top: 50px !important;
  }

  &b-5,
  &y-5 {
    margin-bottom: 50px !important;
  }

  &-10 {
    margin: 100px !important;
  }

  &t-10,
  &y-10 {
    margin-top: 100px !important;
  }

  &b-10,
  &y-10 {
    margin-bottom: 100px !important;
  }
}

// Bootstrap Default Padding
.p {
  &-0 {
    padding: 0 !important;
  }
  &t-0,
  &y-0 {
    padding-top: 0 !important;
  }

  &b-0,
  &y-0 {
    padding-bottom: 0 !important;
  }
}

// Custom Padding
.t-p {
  &-1 {
    padding: 10px !important;
  }

  &t-1,
  &y-1 {
    padding-top: 10px !important;
  }

  &b-1,
  &y-1 {
    padding-bottom: 10px !important;
  }

  &-2 {
    padding: 20px !important;
  }

  &t-2,
  &y-2 {
    padding-top: 20px !important;
  }

  &b-2,
  &y-2 {
    padding-bottom: 20px !important;
  }

  &-3 {
    padding: 30px !important;
  }

  &t-3,
  &y-3 {
    padding-top: 30px !important;
  }

  &b-3,
  &y-3 {
    padding-bottom: 30px !important;
  }

  &-4 {
    padding: 40px !important;
  }

  &t-4,
  &y-4 {
    padding-top: 40px !important;
  }

  &b-4,
  &y-4 {
    padding-bottom: 40px !important;
  }

  &-5 {
    padding: 50px !important;
  }

  &t-5,
  &y-5 {
    padding-top: 50px !important;
  }

  &b-5,
  &y-5 {
    padding-bottom: 50px !important;
  }

  &-10 {
    padding: 100px !important;
  }

  &t-10,
  &y-10 {
    padding-top: 100px !important;
  }

  &b-10,
  &y-10 {
    padding-bottom: 100px !important;
  }
}

body {
  // Right to Left
  &.rtl {
    // Bootstrap Default Margin
    .m {
      &r-0,
      &x-0 {
        margin-right: 0 !important;
      }

      &r-1,
      &x-1 {
        margin-right: 0.25rem !important;
      }

      &r-2,
      &x-2 {
        margin-right: 0.5rem !important;
      }
      &r-3,
      &x-3 {
        margin-right: 1rem !important;
      }

      &r-4,
      &x-4 {
        margin-right: 1.5rem !important;
      }

      &r-5,
      &x-5 {
        margin-right: 3rem !important;
      }

      &l-0,
      &x-0 {
        margin-left: 0 !important;
      }

      &l-1,
      &x-1 {
        margin-left: 0.25rem !important;
      }

      &l-2,
      &x-2 {
        margin-left: 0.5rem !important;
      }

      &l-3,
      &x-3 {
        margin-left: 1rem !important;
      }

      &l-4,
      &x-4 {
        margin-left: 1.5rem !important;
      }

      &l-5,
      &x-5 {
        margin-left: 3rem !important;
      }

      &r-auto {
        margin-right: auto !important;
      }

      &l-auto {
        margin-left: auto !important;
      }
    }

    // Custom Margin
    .t-m {
      &r-1,
      &x-1 {
        margin-right: 10px !important;
      }

      &r-2,
      &x-2 {
        margin-right: 20px !important;
      }

      &r-3,
      &x-3 {
        margin-right: 30px !important;
      }

      &r-4,
      &x-4 {
        margin-right: 40px !important;
      }

      &r-5,
      &x-5 {
        margin-right: 50px !important;
      }

      &r-10,
      &x-10 {
        margin-right: 100px !important;
      }

      &l-1,
      &x-1 {
        margin-left: 10px !important;
      }

      &l-2,
      &x-2 {
        margin-left: 20px !important;
      }

      &l-3,
      &x-3 {
        margin-left: 30px !important;
      }

      &l-4,
      &x-4 {
        margin-left: 40px !important;
      }

      &l-5,
      &x-5 {
        margin-left: 50px !important;
      }

      &l-10,
      &x-10 {
        margin-left: 100px !important;
      }
    }

    // Bootstrap Default Padding
    .p {
      &r-0,
      &x-0 {
        padding-right: 0 !important;
      }

      &r-1,
      &x-1 {
        padding-right: 0.25rem !important;
      }

      &r-2,
      &x-2 {
        padding-right: 0.5rem !important;
      }
      &r-3,
      &x-3 {
        padding-right: 1rem !important;
      }

      &r-4,
      &x-4 {
        padding-right: 1.5rem !important;
      }

      &r-5,
      &x-5 {
        padding-right: 3rem !important;
      }

      &l-0,
      &x-0 {
        padding-left: 0 !important;
      }

      &l-1,
      &x-1 {
        padding-left: 0.25rem !important;
      }

      &l-2,
      &x-2 {
        padding-left: 0.5rem !important;
      }

      &l-3,
      &x-3 {
        padding-left: 1rem !important;
      }

      &l-4,
      &x-4 {
        padding-left: 1.5rem !important;
      }

      &l-5,
      &x-5 {
        padding-left: 3rem !important;
      }
    }

    // Custom Margin
    .t-p {
      &r-1,
      &x-1 {
        padding-right: 10px !important;
      }

      &r-2,
      &x-2 {
        padding-right: 20px !important;
      }

      &r-3,
      &x-3 {
        padding-right: 30px !important;
      }

      &r-4,
      &x-4 {
        padding-right: 40px !important;
      }

      &r-5,
      &x-5 {
        padding-right: 50px !important;
      }

      &r-10,
      &x-10 {
        padding-right: 100px !important;
      }

      &l-1,
      &x-1 {
        padding-left: 10px !important;
      }

      &l-2,
      &x-2 {
        padding-left: 20px !important;
      }

      &l-3,
      &x-3 {
        padding-left: 30px !important;
      }

      &l-4,
      &x-4 {
        padding-left: 40px !important;
      }

      &l-5,
      &x-5 {
        padding-left: 50px !important;
      }

      &l-10,
      &x-10 {
        padding-left: 100px !important;
      }
    }
  }

  // Left to Right
  &.ltr {
    // Bootstrap Default Margin
    .m {
      &r-0,
      &x-0 {
        margin-left: 0 !important;
      }

      &r-1,
      &x-1 {
        margin-left: 0.25rem !important;
      }

      &r-2,
      &x-2 {
        margin-left: 0.5rem !important;
      }
      &r-3,
      &x-3 {
        margin-left: 1rem !important;
      }

      &r-4,
      &x-4 {
        margin-left: 1.5rem !important;
      }

      &r-5,
      &x-5 {
        margin-left: 3rem !important;
      }

      &l-0,
      &x-0 {
        margin-right: 0 !important;
      }

      &l-1,
      &x-1 {
        margin-right: 0.25rem !important;
      }

      &l-2,
      &x-2 {
        margin-right: 0.5rem !important;
      }

      &l-3,
      &x-3 {
        margin-right: 1rem !important;
      }

      &l-4,
      &x-4 {
        margin-right: 1.5rem !important;
      }

      &l-5,
      &x-5 {
        margin-right: 3rem !important;
      }

      &r-auto {
        margin-left: auto !important;
      }

      &l-auto {
        margin-right: auto !important;
      }
    }
    // Custom Margin

    .t-m {
      &r-1,
      &x-1 {
        margin-left: 10px !important;
      }

      &r-2,
      &x-2 {
        margin-left: 20px !important;
      }

      &r-3,
      &x-3 {
        margin-left: 30px !important;
      }

      &r-4,
      &x-4 {
        margin-left: 40px !important;
      }

      &r-5,
      &x-5 {
        margin-left: 50px !important;
      }

      &r-10,
      &x-10 {
        margin-left: 100px !important;
      }

      &l-1,
      &x-1 {
        margin-right: 10px !important;
      }

      &l-2,
      &x-2 {
        margin-right: 20px !important;
      }

      &l-3,
      &x-3 {
        margin-right: 30px !important;
      }

      &l-4,
      &x-4 {
        margin-right: 40px !important;
      }

      &l-5,
      &x-5 {
        margin-right: 50px !important;
      }

      &l-10,
      &x-10 {
        margin-right: 100px !important;
      }
    }

    // Bootstrap Default Padding
    .p {
      &r-0,
      &x-0 {
        padding-left: 0 !important;
      }

      &r-1,
      &x-1 {
        padding-left: 0.25rem !important;
      }

      &r-2,
      &x-2 {
        padding-left: 0.5rem !important;
      }
      &r-3,
      &x-3 {
        padding-left: 1rem !important;
      }

      &r-4,
      &x-4 {
        padding-left: 1.5rem !important;
      }

      &r-5,
      &x-5 {
        padding-left: 3rem !important;
      }

      &l-0,
      &x-0 {
        padding-left: 0 !important;
      }

      &l-1,
      &x-1 {
        padding-right: 0.25rem !important;
      }

      &l-2,
      &x-2 {
        padding-right: 0.5rem !important;
      }

      &l-3,
      &x-3 {
        padding-right: 1rem !important;
      }

      &l-4,
      &x-4 {
        padding-right: 1.5rem !important;
      }

      &l-5,
      &x-5 {
        padding-right: 3rem !important;
      }
    }

    // Custom Margin
    .t-p {
      &r-1,
      &x-1 {
        padding-left: 10px !important;
      }

      &r-2,
      &x-2 {
        padding-left: 20px !important;
      }

      &r-3,
      &x-3 {
        padding-left: 30px !important;
      }

      &r-4,
      &x-4 {
        padding-left: 40px !important;
      }

      &r-5,
      &x-5 {
        padding-left: 50px !important;
      }

      &r-10,
      &x-10 {
        padding-left: 100px !important;
      }

      &l-1,
      &x-1 {
        padding-right: 10px !important;
      }

      &l-2,
      &x-2 {
        padding-right: 20px !important;
      }

      &l-3,
      &x-3 {
        padding-right: 30px !important;
      }

      &l-4,
      &x-4 {
        padding-right: 40px !important;
      }

      &l-5,
      &x-5 {
        padding-right: 50px !important;
      }

      &l-10,
      &x-10 {
        padding-right: 100px !important;
      }
    }

    // Float
    .float- {
      &right {
        float: left !important;
      }

      &left {
        float: right !important;
      }
    }
  }
}

// Border Radius
.t- {
  &rounded {
    border-radius: 8px !important;
  }

  &rounded-lg {
    border-radius: 14px !important;
  }
}

// Box Shadow
.t-shadow {
  box-shadow: 0 9px 30px #c6ccd166;
}

// Small Screens
@media (min-width: 576px) {
  // Bootstrap Default Margin
  .m {
    &-sm-0 {
      margin: 0 !important;
    }
    &t-sm-0,
    &y-sm-0 {
      margin-top: 0 !important;
    }

    &b-sm-0,
    &y-sm-0 {
      margin-bottom: 0 !important;
    }
  }

  // Custom Margin
  .t-m {
    &-sm-1 {
      margin: 10px !important;
    }

    &t-sm-1,
    &y-sm-1 {
      margin-top: 10px !important;
    }

    &b-sm-1,
    &y-sm-1 {
      margin-bottom: 10px !important;
    }

    &-sm-2 {
      margin: 20px !important;
    }

    &t-sm-2,
    &y-sm-2 {
      margin-top: 20px !important;
    }

    &b-sm-2,
    &y-sm-2 {
      margin-bottom: 20px !important;
    }

    &-sm-3 {
      margin: 30px !important;
    }

    &t-sm-3,
    &y-sm-3 {
      margin-top: 30px !important;
    }

    &b-sm-3,
    &y-sm-3 {
      margin-bottom: 30px !important;
    }

    &-sm-4 {
      margin: 40px !important;
    }

    &t-sm-4,
    &y-sm-4 {
      margin-top: 40px !important;
    }

    &b-sm-4,
    &y-sm-4 {
      margin-bottom: 40px !important;
    }

    &-sm-5 {
      margin: 50px !important;
    }

    &t-sm-5,
    &y-sm-5 {
      margin-top: 50px !important;
    }

    &b-sm-5,
    &y-sm-5 {
      margin-bottom: 50px !important;
    }

    &-sm-10 {
      margin: 100px !important;
    }

    &t-sm-10,
    &y-sm-10 {
      margin-top: 100px !important;
    }

    &b-sm-10,
    &y-sm-10 {
      margin-bottom: 100px !important;
    }
  }

  // Bootstrap Default Padding
  .p {
    &-sm-0 {
      padding: 0 !important;
    }
    &t-sm-0,
    &y-sm-0 {
      padding-top: 0 !important;
    }

    &b-sm-0,
    &y-sm-0 {
      padding-bottom: 0 !important;
    }
  }

  // Custom Padding
  .t-p {
    &-sm-1 {
      padding: 10px !important;
    }

    &t-sm-1,
    &y-sm-1 {
      padding-top: 10px !important;
    }

    &b-sm-1,
    &y-sm-1 {
      padding-bottom: 10px !important;
    }

    &-sm-2 {
      padding: 20px !important;
    }

    &t-sm-2,
    &y-sm-2 {
      padding-top: 20px !important;
    }

    &b-sm-2,
    &y-sm-2 {
      padding-bottom: 20px !important;
    }

    &-sm-3 {
      padding: 30px !important;
    }

    &t-sm-3,
    &y-sm-3 {
      padding-top: 30px !important;
    }

    &b-sm-3,
    &y-sm-3 {
      padding-bottom: 30px !important;
    }

    &-sm-4 {
      padding: 40px !important;
    }

    &t-sm-4,
    &y-sm-4 {
      padding-top: 40px !important;
    }

    &b-sm-4,
    &y-sm-4 {
      padding-bottom: 40px !important;
    }

    &-sm-5 {
      padding: 50px !important;
    }

    &t-sm-5,
    &y-sm-5 {
      padding-top: 50px !important;
    }

    &b-sm-5,
    &y-sm-5 {
      padding-bottom: 50px !important;
    }

    &-sm-10 {
      padding: 100px !important;
    }

    &t-sm-10,
    &y-sm-10 {
      padding-top: 100px !important;
    }

    &b-sm-10,
    &y-sm-10 {
      padding-bottom: 100px !important;
    }
  }

  body {
    // Right to Left
    &.rtl {
      // Bootstrap Default Margin
      .m {
        &r-sm-0,
        &x-sm-0 {
          margin-right: 0 !important;
        }

        &r-sm-1,
        &x-sm-1 {
          margin-right: 0.25rem !important;
        }

        &r-sm-2,
        &x-sm-2 {
          margin-right: 0.5rem !important;
        }
        &r-sm-3,
        &x-sm-3 {
          margin-right: 1rem !important;
        }

        &r-sm-4,
        &x-sm-4 {
          margin-right: 1.5rem !important;
        }

        &r-sm-5,
        &x-sm-5 {
          margin-right: 3rem !important;
        }

        &l-sm-0,
        &x-sm-0 {
          margin-left: 0 !important;
        }

        &l-sm-1,
        &x-sm-1 {
          margin-left: 0.25rem !important;
        }

        &l-sm-2,
        &x-sm-2 {
          margin-left: 0.5rem !important;
        }

        &l-sm-3,
        &x-sm-3 {
          margin-left: 1rem !important;
        }

        &l-sm-4,
        &x-sm-4 {
          margin-left: 1.5rem !important;
        }

        &l-sm-5,
        &x-sm-5 {
          margin-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-m {
        &r-sm-1,
        &x-sm-1 {
          margin-right: 10px !important;
        }

        &r-sm-2,
        &x-sm-2 {
          margin-right: 20px !important;
        }

        &r-sm-3,
        &x-sm-3 {
          margin-right: 30px !important;
        }

        &r-sm-4,
        &x-sm-4 {
          margin-right: 40px !important;
        }

        &r-sm-5,
        &x-sm-5 {
          margin-right: 50px !important;
        }

        &r-sm-10,
        &x-sm-10 {
          margin-right: 100px !important;
        }

        &l-sm-1,
        &x-sm-1 {
          margin-left: 10px !important;
        }

        &l-sm-2,
        &x-sm-2 {
          margin-left: 20px !important;
        }

        &l-sm-3,
        &x-sm-3 {
          margin-left: 30px !important;
        }

        &l-sm-4,
        &x-sm-4 {
          margin-left: 40px !important;
        }

        &l-sm-5,
        &x-sm-5 {
          margin-left: 50px !important;
        }

        &l-sm-10,
        &x-sm-10 {
          margin-left: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-sm-0,
        &x-sm-0 {
          padding-right: 0 !important;
        }

        &r-sm-1,
        &x-sm-1 {
          padding-right: 0.25rem !important;
        }

        &r-sm-2,
        &x-sm-2 {
          padding-right: 0.5rem !important;
        }
        &r-sm-3,
        &x-sm-3 {
          padding-right: 1rem !important;
        }

        &r-sm-4,
        &x-sm-4 {
          padding-right: 1.5rem !important;
        }

        &r-sm-5,
        &x-sm-5 {
          padding-right: 3rem !important;
        }

        &l-sm-0,
        &x-sm-0 {
          padding-left: 0 !important;
        }

        &l-sm-1,
        &x-sm-1 {
          padding-left: 0.25rem !important;
        }

        &l-sm-2,
        &x-sm-2 {
          padding-left: 0.5rem !important;
        }

        &l-sm-3,
        &x-sm-3 {
          padding-left: 1rem !important;
        }

        &l-sm-4,
        &x-sm-4 {
          padding-left: 1.5rem !important;
        }

        &l-sm-5,
        &x-sm-5 {
          padding-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-sm-1,
        &x-sm-1 {
          padding-right: 10px !important;
        }

        &r-sm-2,
        &x-sm-2 {
          padding-right: 20px !important;
        }

        &r-sm-3,
        &x-sm-3 {
          padding-right: 30px !important;
        }

        &r-sm-4,
        &x-sm-4 {
          padding-right: 40px !important;
        }

        &r-sm-5,
        &x-sm-5 {
          padding-right: 50px !important;
        }

        &r-sm-10,
        &x-sm-10 {
          padding-right: 100px !important;
        }

        &l-sm-1,
        &x-sm-1 {
          padding-left: 10px !important;
        }

        &l-sm-2,
        &x-sm-2 {
          padding-left: 20px !important;
        }

        &l-sm-3,
        &x-sm-3 {
          padding-left: 30px !important;
        }

        &l-sm-4,
        &x-sm-4 {
          padding-left: 40px !important;
        }

        &l-sm-5,
        &x-sm-5 {
          padding-left: 50px !important;
        }

        &l-sm-10,
        &x-sm-10 {
          padding-left: 100px !important;
        }
      }
    }

    // Left to Right
    &.ltr {
      // Bootstrap Default Margin
      .m {
        &r-sm-0,
        &x-sm-0 {
          margin-left: 0 !important;
        }

        &r-sm-1,
        &x-sm-1 {
          margin-left: 0.25rem !important;
        }

        &r-sm-2,
        &x-sm-2 {
          margin-left: 0.5rem !important;
        }
        &r-sm-3,
        &x-sm-3 {
          margin-left: 1rem !important;
        }

        &r-sm-4,
        &x-sm-4 {
          margin-left: 1.5rem !important;
        }

        &r-sm-5,
        &x-sm-5 {
          margin-left: 3rem !important;
        }

        &l-sm-0,
        &x-sm-0 {
          margin-right: 0 !important;
        }

        &l-sm-1,
        &x-sm-1 {
          margin-right: 0.25rem !important;
        }

        &l-sm-2,
        &x-sm-2 {
          margin-right: 0.5rem !important;
        }

        &l-sm-3,
        &x-sm-3 {
          margin-right: 1rem !important;
        }

        &l-sm-4,
        &x-sm-4 {
          margin-right: 1.5rem !important;
        }

        &l-sm-5,
        &x-sm-5 {
          margin-right: 3rem !important;
        }
      }
      // Custom Margin

      .t-m {
        &r-sm-1,
        &x-sm-1 {
          margin-left: 10px !important;
        }

        &r-sm-2,
        &x-sm-2 {
          margin-left: 20px !important;
        }

        &r-sm-3,
        &x-sm-3 {
          margin-left: 30px !important;
        }

        &r-sm-4,
        &x-sm-4 {
          margin-left: 40px !important;
        }

        &r-sm-5,
        &x-sm-5 {
          margin-left: 50px !important;
        }

        &r-sm-10,
        &x-sm-10 {
          margin-left: 100px !important;
        }

        &l-sm-1,
        &x-sm-1 {
          margin-right: 10px !important;
        }

        &l-sm-2,
        &x-sm-2 {
          margin-right: 20px !important;
        }

        &l-sm-3,
        &x-sm-3 {
          margin-right: 30px !important;
        }

        &l-sm-4,
        &x-sm-4 {
          margin-right: 40px !important;
        }

        &l-sm-5,
        &x-sm-5 {
          margin-right: 50px !important;
        }

        &l-sm-10,
        &x-sm-10 {
          margin-right: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-sm-0,
        &x-sm-0 {
          padding-left: 0 !important;
        }

        &r-sm-1,
        &x-sm-1 {
          padding-left: 0.25rem !important;
        }

        &r-sm-2,
        &x-sm-2 {
          padding-left: 0.5rem !important;
        }
        &r-sm-3,
        &x-sm-3 {
          padding-left: 1rem !important;
        }

        &r-sm-4,
        &x-sm-4 {
          padding-left: 1.5rem !important;
        }

        &r-sm-5,
        &x-sm-5 {
          padding-left: 3rem !important;
        }

        &l-sm-0,
        &x-sm-0 {
          padding-left: 0 !important;
        }

        &l-sm-1,
        &x-sm-1 {
          padding-right: 0.25rem !important;
        }

        &l-sm-2,
        &x-sm-2 {
          padding-right: 0.5rem !important;
        }

        &l-sm-3,
        &x-sm-3 {
          padding-right: 1rem !important;
        }

        &l-sm-4,
        &x-sm-4 {
          padding-right: 1.5rem !important;
        }

        &l-sm-5,
        &x-sm-5 {
          padding-right: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-sm-1,
        &x-sm-1 {
          padding-left: 10px !important;
        }

        &r-sm-2,
        &x-sm-2 {
          padding-left: 20px !important;
        }

        &r-sm-3,
        &x-sm-3 {
          padding-left: 30px !important;
        }

        &r-sm-4,
        &x-sm-4 {
          padding-left: 40px !important;
        }

        &r-sm-5,
        &x-sm-5 {
          padding-left: 50px !important;
        }

        &r-sm-10,
        &x-sm-10 {
          padding-left: 100px !important;
        }

        &l-sm-1,
        &x-sm-1 {
          padding-right: 10px !important;
        }

        &l-sm-2,
        &x-sm-2 {
          padding-right: 20px !important;
        }

        &l-sm-3,
        &x-sm-3 {
          padding-right: 30px !important;
        }

        &l-sm-4,
        &x-sm-4 {
          padding-right: 40px !important;
        }

        &l-sm-5,
        &x-sm-5 {
          padding-right: 50px !important;
        }

        &l-sm-10,
        &x-sm-10 {
          padding-right: 100px !important;
        }
      }

      // Float
      .float-sm- {
        &right {
          float: left !important;
        }

        &left {
          float: right !important;
        }
      }
    }
  }

  // Width
  .w-sm- {
    &25 {
      width: 25% !important;
    }
    &50 {
      width: 50% !important;
    }
    &75 {
      width: 75% !important;
    }
    &100 {
      width: 100% !important;
    }
  }

  // Height
  .h-sm- {
    &25 {
      height: 25% !important;
    }
    &50 {
      height: 50% !important;
    }
    &75 {
      height: 75% !important;
    }
    &100 {
      height: 100% !important;
    }
  }
}

// Medium Screens
@media (min-width: 768px) {
  // Bootstrap Default Margin
  .m {
    &-md-0 {
      margin: 0 !important;
    }
    &t-md-0,
    &y-md-0 {
      margin-top: 0 !important;
    }

    &b-md-0,
    &y-md-0 {
      margin-bottom: 0 !important;
    }
  }

  // Custom Margin
  .t-m {
    &-md-1 {
      margin: 10px !important;
    }

    &t-md-1,
    &y-md-1 {
      margin-top: 10px !important;
    }

    &b-md-1,
    &y-md-1 {
      margin-bottom: 10px !important;
    }

    &-md-2 {
      margin: 20px !important;
    }

    &t-md-2,
    &y-md-2 {
      margin-top: 20px !important;
    }

    &b-md-2,
    &y-md-2 {
      margin-bottom: 20px !important;
    }

    &-md-3 {
      margin: 30px !important;
    }

    &t-md-3,
    &y-md-3 {
      margin-top: 30px !important;
    }

    &b-md-3,
    &y-md-3 {
      margin-bottom: 30px !important;
    }

    &-md-4 {
      margin: 40px !important;
    }

    &t-md-4,
    &y-md-4 {
      margin-top: 40px !important;
    }

    &b-md-4,
    &y-md-4 {
      margin-bottom: 40px !important;
    }

    &-md-5 {
      margin: 50px !important;
    }

    &t-md-5,
    &y-md-5 {
      margin-top: 50px !important;
    }

    &b-md-5,
    &y-md-5 {
      margin-bottom: 50px !important;
    }

    &-md-10 {
      margin: 100px !important;
    }

    &t-md-10,
    &y-md-10 {
      margin-top: 100px !important;
    }

    &b-md-10,
    &y-md-10 {
      margin-bottom: 100px !important;
    }
  }

  // Bootstrap Default Padding
  .p {
    &-md-0 {
      padding: 0 !important;
    }
    &t-md-0,
    &y-md-0 {
      padding-top: 0 !important;
    }

    &b-md-0,
    &y-md-0 {
      padding-bottom: 0 !important;
    }
  }

  // Custom Padding
  .t-p {
    &-md-1 {
      padding: 10px !important;
    }

    &t-md-1,
    &y-md-1 {
      padding-top: 10px !important;
    }

    &b-md-1,
    &y-md-1 {
      padding-bottom: 10px !important;
    }

    &-md-2 {
      padding: 20px !important;
    }

    &t-md-2,
    &y-md-2 {
      padding-top: 20px !important;
    }

    &b-md-2,
    &y-md-2 {
      padding-bottom: 20px !important;
    }

    &-md-3 {
      padding: 30px !important;
    }

    &t-md-3,
    &y-md-3 {
      padding-top: 30px !important;
    }

    &b-md-3,
    &y-md-3 {
      padding-bottom: 30px !important;
    }

    &-md-4 {
      padding: 40px !important;
    }

    &t-md-4,
    &y-md-4 {
      padding-top: 40px !important;
    }

    &b-md-4,
    &y-md-4 {
      padding-bottom: 40px !important;
    }

    &-md-5 {
      padding: 50px !important;
    }

    &t-md-5,
    &y-md-5 {
      padding-top: 50px !important;
    }

    &b-md-5,
    &y-md-5 {
      padding-bottom: 50px !important;
    }

    &-md-10 {
      padding: 100px !important;
    }

    &t-md-10,
    &y-md-10 {
      padding-top: 100px !important;
    }

    &b-md-10,
    &y-md-10 {
      padding-bottom: 100px !important;
    }
  }

  body {
    // Right to Left
    &.rtl {
      // Bootstrap Default Margin
      .m {
        &r-md-0,
        &x-md-0 {
          margin-right: 0 !important;
        }

        &r-md-1,
        &x-md-1 {
          margin-right: 0.25rem !important;
        }

        &r-md-2,
        &x-md-2 {
          margin-right: 0.5rem !important;
        }
        &r-md-3,
        &x-md-3 {
          margin-right: 1rem !important;
        }

        &r-md-4,
        &x-md-4 {
          margin-right: 1.5rem !important;
        }

        &r-md-5,
        &x-md-5 {
          margin-right: 3rem !important;
        }

        &l-md-0,
        &x-md-0 {
          margin-left: 0 !important;
        }

        &l-md-1,
        &x-md-1 {
          margin-left: 0.25rem !important;
        }

        &l-md-2,
        &x-md-2 {
          margin-left: 0.5rem !important;
        }

        &l-md-3,
        &x-md-3 {
          margin-left: 1rem !important;
        }

        &l-md-4,
        &x-md-4 {
          margin-left: 1.5rem !important;
        }

        &l-md-5,
        &x-md-5 {
          margin-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-m {
        &r-md-1,
        &x-md-1 {
          margin-right: 10px !important;
        }

        &r-md-2,
        &x-md-2 {
          margin-right: 20px !important;
        }

        &r-md-3,
        &x-md-3 {
          margin-right: 30px !important;
        }

        &r-md-4,
        &x-md-4 {
          margin-right: 40px !important;
        }

        &r-md-5,
        &x-md-5 {
          margin-right: 50px !important;
        }

        &r-md-10,
        &x-md-10 {
          margin-right: 100px !important;
        }

        &l-md-1,
        &x-md-1 {
          margin-left: 10px !important;
        }

        &l-md-2,
        &x-md-2 {
          margin-left: 20px !important;
        }

        &l-md-3,
        &x-md-3 {
          margin-left: 30px !important;
        }

        &l-md-4,
        &x-md-4 {
          margin-left: 40px !important;
        }

        &l-md-5,
        &x-md-5 {
          margin-left: 50px !important;
        }

        &l-md-10,
        &x-md-10 {
          margin-left: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-md-0,
        &x-md-0 {
          padding-right: 0 !important;
        }

        &r-md-1,
        &x-md-1 {
          padding-right: 0.25rem !important;
        }

        &r-md-2,
        &x-md-2 {
          padding-right: 0.5rem !important;
        }
        &r-md-3,
        &x-md-3 {
          padding-right: 1rem !important;
        }

        &r-md-4,
        &x-md-4 {
          padding-right: 1.5rem !important;
        }

        &r-md-5,
        &x-md-5 {
          padding-right: 3rem !important;
        }

        &l-md-0,
        &x-md-0 {
          padding-left: 0 !important;
        }

        &l-md-1,
        &x-md-1 {
          padding-left: 0.25rem !important;
        }

        &l-md-2,
        &x-md-2 {
          padding-left: 0.5rem !important;
        }

        &l-md-3,
        &x-md-3 {
          padding-left: 1rem !important;
        }

        &l-md-4,
        &x-md-4 {
          padding-left: 1.5rem !important;
        }

        &l-md-5,
        &x-md-5 {
          padding-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-md-1,
        &x-md-1 {
          padding-right: 10px !important;
        }

        &r-md-2,
        &x-md-2 {
          padding-right: 20px !important;
        }

        &r-md-3,
        &x-md-3 {
          padding-right: 30px !important;
        }

        &r-md-4,
        &x-md-4 {
          padding-right: 40px !important;
        }

        &r-md-5,
        &x-md-5 {
          padding-right: 50px !important;
        }

        &r-md-10,
        &x-md-10 {
          padding-right: 100px !important;
        }

        &l-md-1,
        &x-md-1 {
          padding-left: 10px !important;
        }

        &l-md-2,
        &x-md-2 {
          padding-left: 20px !important;
        }

        &l-md-3,
        &x-md-3 {
          padding-left: 30px !important;
        }

        &l-md-4,
        &x-md-4 {
          padding-left: 40px !important;
        }

        &l-md-5,
        &x-md-5 {
          padding-left: 50px !important;
        }

        &l-md-10,
        &x-md-10 {
          padding-left: 100px !important;
        }
      }
    }

    // Left to Right
    &.ltr {
      // Bootstrap Default Margin
      .m {
        &r-md-0,
        &x-md-0 {
          margin-left: 0 !important;
        }

        &r-md-1,
        &x-md-1 {
          margin-left: 0.25rem !important;
        }

        &r-md-2,
        &x-md-2 {
          margin-left: 0.5rem !important;
        }
        &r-md-3,
        &x-md-3 {
          margin-left: 1rem !important;
        }

        &r-md-4,
        &x-md-4 {
          margin-left: 1.5rem !important;
        }

        &r-md-5,
        &x-md-5 {
          margin-left: 3rem !important;
        }

        &l-md-0,
        &x-md-0 {
          margin-right: 0 !important;
        }

        &l-md-1,
        &x-md-1 {
          margin-right: 0.25rem !important;
        }

        &l-md-2,
        &x-md-2 {
          margin-right: 0.5rem !important;
        }

        &l-md-3,
        &x-md-3 {
          margin-right: 1rem !important;
        }

        &l-md-4,
        &x-md-4 {
          margin-right: 1.5rem !important;
        }

        &l-md-5,
        &x-md-5 {
          margin-right: 3rem !important;
        }
      }
      // Custom Margin

      .t-m {
        &r-md-1,
        &x-md-1 {
          margin-left: 10px !important;
        }

        &r-md-2,
        &x-md-2 {
          margin-left: 20px !important;
        }

        &r-md-3,
        &x-md-3 {
          margin-left: 30px !important;
        }

        &r-md-4,
        &x-md-4 {
          margin-left: 40px !important;
        }

        &r-md-5,
        &x-md-5 {
          margin-left: 50px !important;
        }

        &r-md-10,
        &x-md-10 {
          margin-left: 100px !important;
        }

        &l-md-1,
        &x-md-1 {
          margin-right: 10px !important;
        }

        &l-md-2,
        &x-md-2 {
          margin-right: 20px !important;
        }

        &l-md-3,
        &x-md-3 {
          margin-right: 30px !important;
        }

        &l-md-4,
        &x-md-4 {
          margin-right: 40px !important;
        }

        &l-md-5,
        &x-md-5 {
          margin-right: 50px !important;
        }

        &l-md-10,
        &x-md-10 {
          margin-right: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-md-0,
        &x-md-0 {
          padding-left: 0 !important;
        }

        &r-md-1,
        &x-md-1 {
          padding-left: 0.25rem !important;
        }

        &r-md-2,
        &x-md-2 {
          padding-left: 0.5rem !important;
        }
        &r-md-3,
        &x-md-3 {
          padding-left: 1rem !important;
        }

        &r-md-4,
        &x-md-4 {
          padding-left: 1.5rem !important;
        }

        &r-md-5,
        &x-md-5 {
          padding-left: 3rem !important;
        }

        &l-md-0,
        &x-md-0 {
          padding-left: 0 !important;
        }

        &l-md-1,
        &x-md-1 {
          padding-right: 0.25rem !important;
        }

        &l-md-2,
        &x-md-2 {
          padding-right: 0.5rem !important;
        }

        &l-md-3,
        &x-md-3 {
          padding-right: 1rem !important;
        }

        &l-md-4,
        &x-md-4 {
          padding-right: 1.5rem !important;
        }

        &l-md-5,
        &x-md-5 {
          padding-right: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-md-1,
        &x-md-1 {
          padding-left: 10px !important;
        }

        &r-md-2,
        &x-md-2 {
          padding-left: 20px !important;
        }

        &r-md-3,
        &x-md-3 {
          padding-left: 30px !important;
        }

        &r-md-4,
        &x-md-4 {
          padding-left: 40px !important;
        }

        &r-md-5,
        &x-md-5 {
          padding-left: 50px !important;
        }

        &r-md-10,
        &x-md-10 {
          padding-left: 100px !important;
        }

        &l-md-1,
        &x-md-1 {
          padding-right: 10px !important;
        }

        &l-md-2,
        &x-md-2 {
          padding-right: 20px !important;
        }

        &l-md-3,
        &x-md-3 {
          padding-right: 30px !important;
        }

        &l-md-4,
        &x-md-4 {
          padding-right: 40px !important;
        }

        &l-md-5,
        &x-md-5 {
          padding-right: 50px !important;
        }

        &l-md-10,
        &x-md-10 {
          padding-right: 100px !important;
        }
      }

      // Float
      .float-md- {
        &right {
          float: left !important;
        }

        &left {
          float: right !important;
        }
      }
    }
  }

  .w-md- {
    &25 {
      width: 25% !important;
    }
    &50 {
      width: 50% !important;
    }
    &75 {
      width: 75% !important;
    }
    &100 {
      width: 100% !important;
    }
  }

  .h-md- {
    &25 {
      height: 25% !important;
    }
    &50 {
      height: 50% !important;
    }
    &75 {
      height: 75% !important;
    }
    &100 {
      height: 100% !important;
    }
  }
}

// Large Screens
@media (min-width: 992px) {
  // Bootstrap Default Margin
  .m {
    &-lg-0 {
      margin: 0 !important;
    }
    &t-lg-0,
    &y-lg-0 {
      margin-top: 0 !important;
    }

    &b-lg-0,
    &y-lg-0 {
      margin-bottom: 0 !important;
    }
  }

  // Custom Margin
  .t-m {
    &-lg-1 {
      margin: 10px !important;
    }

    &t-lg-1,
    &y-lg-1 {
      margin-top: 10px !important;
    }

    &b-lg-1,
    &y-lg-1 {
      margin-bottom: 10px !important;
    }

    &-lg-2 {
      margin: 20px !important;
    }

    &t-lg-2,
    &y-lg-2 {
      margin-top: 20px !important;
    }

    &b-lg-2,
    &y-lg-2 {
      margin-bottom: 20px !important;
    }

    &-lg-3 {
      margin: 30px !important;
    }

    &t-lg-3,
    &y-lg-3 {
      margin-top: 30px !important;
    }

    &b-lg-3,
    &y-lg-3 {
      margin-bottom: 30px !important;
    }

    &-lg-4 {
      margin: 40px !important;
    }

    &t-lg-4,
    &y-lg-4 {
      margin-top: 40px !important;
    }

    &b-lg-4,
    &y-lg-4 {
      margin-bottom: 40px !important;
    }

    &-lg-5 {
      margin: 50px !important;
    }

    &t-lg-5,
    &y-lg-5 {
      margin-top: 50px !important;
    }

    &b-lg-5,
    &y-lg-5 {
      margin-bottom: 50px !important;
    }

    &-lg-10 {
      margin: 100px !important;
    }

    &t-lg-10,
    &y-lg-10 {
      margin-top: 100px !important;
    }

    &b-lg-10,
    &y-lg-10 {
      margin-bottom: 100px !important;
    }
  }

  // Bootstrap Default Padding
  .p {
    &-lg-0 {
      padding: 0 !important;
    }
    &t-lg-0,
    &y-lg-0 {
      padding-top: 0 !important;
    }

    &b-lg-0,
    &y-lg-0 {
      padding-bottom: 0 !important;
    }
  }

  // Custom Padding
  .t-p {
    &-lg-1 {
      padding: 10px !important;
    }

    &t-lg-1,
    &y-lg-1 {
      padding-top: 10px !important;
    }

    &b-lg-1,
    &y-lg-1 {
      padding-bottom: 10px !important;
    }

    &-lg-2 {
      padding: 20px !important;
    }

    &t-lg-2,
    &y-lg-2 {
      padding-top: 20px !important;
    }

    &b-lg-2,
    &y-lg-2 {
      padding-bottom: 20px !important;
    }

    &-lg-3 {
      padding: 30px !important;
    }

    &t-lg-3,
    &y-lg-3 {
      padding-top: 30px !important;
    }

    &b-lg-3,
    &y-lg-3 {
      padding-bottom: 30px !important;
    }

    &-lg-4 {
      padding: 40px !important;
    }

    &t-lg-4,
    &y-lg-4 {
      padding-top: 40px !important;
    }

    &b-lg-4,
    &y-lg-4 {
      padding-bottom: 40px !important;
    }

    &-lg-5 {
      padding: 50px !important;
    }

    &t-lg-5,
    &y-lg-5 {
      padding-top: 50px !important;
    }

    &b-lg-5,
    &y-lg-5 {
      padding-bottom: 50px !important;
    }

    &-lg-10 {
      padding: 100px !important;
    }

    &t-lg-10,
    &y-lg-10 {
      padding-top: 100px !important;
    }

    &b-lg-10,
    &y-lg-10 {
      padding-bottom: 100px !important;
    }
  }

  body {
    // Right to Left
    &.rtl {
      // Bootstrap Default Margin
      .m {
        &r-lg-0,
        &x-lg-0 {
          margin-right: 0 !important;
        }

        &r-lg-1,
        &x-lg-1 {
          margin-right: 0.25rem !important;
        }

        &r-lg-2,
        &x-lg-2 {
          margin-right: 0.5rem !important;
        }
        &r-lg-3,
        &x-lg-3 {
          margin-right: 1rem !important;
        }

        &r-lg-4,
        &x-lg-4 {
          margin-right: 1.5rem !important;
        }

        &r-lg-5,
        &x-lg-5 {
          margin-right: 3rem !important;
        }

        &l-lg-0,
        &x-lg-0 {
          margin-left: 0 !important;
        }

        &l-lg-1,
        &x-lg-1 {
          margin-left: 0.25rem !important;
        }

        &l-lg-2,
        &x-lg-2 {
          margin-left: 0.5rem !important;
        }

        &l-lg-3,
        &x-lg-3 {
          margin-left: 1rem !important;
        }

        &l-lg-4,
        &x-lg-4 {
          margin-left: 1.5rem !important;
        }

        &l-lg-5,
        &x-lg-5 {
          margin-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-m {
        &r-lg-1,
        &x-lg-1 {
          margin-right: 10px !important;
        }

        &r-lg-2,
        &x-lg-2 {
          margin-right: 20px !important;
        }

        &r-lg-3,
        &x-lg-3 {
          margin-right: 30px !important;
        }

        &r-lg-4,
        &x-lg-4 {
          margin-right: 40px !important;
        }

        &r-lg-5,
        &x-lg-5 {
          margin-right: 50px !important;
        }

        &r-lg-10,
        &x-lg-10 {
          margin-right: 100px !important;
        }

        &l-lg-1,
        &x-lg-1 {
          margin-left: 10px !important;
        }

        &l-lg-2,
        &x-lg-2 {
          margin-left: 20px !important;
        }

        &l-lg-3,
        &x-lg-3 {
          margin-left: 30px !important;
        }

        &l-lg-4,
        &x-lg-4 {
          margin-left: 40px !important;
        }

        &l-lg-5,
        &x-lg-5 {
          margin-left: 50px !important;
        }

        &l-lg-10,
        &x-lg-10 {
          margin-left: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-lg-0,
        &x-lg-0 {
          padding-right: 0 !important;
        }

        &r-lg-1,
        &x-lg-1 {
          padding-right: 0.25rem !important;
        }

        &r-lg-2,
        &x-lg-2 {
          padding-right: 0.5rem !important;
        }
        &r-lg-3,
        &x-lg-3 {
          padding-right: 1rem !important;
        }

        &r-lg-4,
        &x-lg-4 {
          padding-right: 1.5rem !important;
        }

        &r-lg-5,
        &x-lg-5 {
          padding-right: 3rem !important;
        }

        &l-lg-0,
        &x-lg-0 {
          padding-left: 0 !important;
        }

        &l-lg-1,
        &x-lg-1 {
          padding-left: 0.25rem !important;
        }

        &l-lg-2,
        &x-lg-2 {
          padding-left: 0.5rem !important;
        }

        &l-lg-3,
        &x-lg-3 {
          padding-left: 1rem !important;
        }

        &l-lg-4,
        &x-lg-4 {
          padding-left: 1.5rem !important;
        }

        &l-lg-5,
        &x-lg-5 {
          padding-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-lg-1,
        &x-lg-1 {
          padding-right: 10px !important;
        }

        &r-lg-2,
        &x-lg-2 {
          padding-right: 20px !important;
        }

        &r-lg-3,
        &x-lg-3 {
          padding-right: 30px !important;
        }

        &r-lg-4,
        &x-lg-4 {
          padding-right: 40px !important;
        }

        &r-lg-5,
        &x-lg-5 {
          padding-right: 50px !important;
        }

        &r-lg-10,
        &x-lg-10 {
          padding-right: 100px !important;
        }

        &l-lg-1,
        &x-lg-1 {
          padding-left: 10px !important;
        }

        &l-lg-2,
        &x-lg-2 {
          padding-left: 20px !important;
        }

        &l-lg-3,
        &x-lg-3 {
          padding-left: 30px !important;
        }

        &l-lg-4,
        &x-lg-4 {
          padding-left: 40px !important;
        }

        &l-lg-5,
        &x-lg-5 {
          padding-left: 50px !important;
        }

        &l-lg-10,
        &x-lg-10 {
          padding-left: 100px !important;
        }
      }
    }

    // Left to Right
    &.ltr {
      // Bootstrap Default Margin
      .m {
        &r-lg-0,
        &x-lg-0 {
          margin-left: 0 !important;
        }

        &r-lg-1,
        &x-lg-1 {
          margin-left: 0.25rem !important;
        }

        &r-lg-2,
        &x-lg-2 {
          margin-left: 0.5rem !important;
        }
        &r-lg-3,
        &x-lg-3 {
          margin-left: 1rem !important;
        }

        &r-lg-4,
        &x-lg-4 {
          margin-left: 1.5rem !important;
        }

        &r-lg-5,
        &x-lg-5 {
          margin-left: 3rem !important;
        }

        &l-lg-0,
        &x-lg-0 {
          margin-right: 0 !important;
        }

        &l-lg-1,
        &x-lg-1 {
          margin-right: 0.25rem !important;
        }

        &l-lg-2,
        &x-lg-2 {
          margin-right: 0.5rem !important;
        }

        &l-lg-3,
        &x-lg-3 {
          margin-right: 1rem !important;
        }

        &l-lg-4,
        &x-lg-4 {
          margin-right: 1.5rem !important;
        }

        &l-lg-5,
        &x-lg-5 {
          margin-right: 3rem !important;
        }
      }
      // Custom Margin

      .t-m {
        &r-lg-1,
        &x-lg-1 {
          margin-left: 10px !important;
        }

        &r-lg-2,
        &x-lg-2 {
          margin-left: 20px !important;
        }

        &r-lg-3,
        &x-lg-3 {
          margin-left: 30px !important;
        }

        &r-lg-4,
        &x-lg-4 {
          margin-left: 40px !important;
        }

        &r-lg-5,
        &x-lg-5 {
          margin-left: 50px !important;
        }

        &r-lg-10,
        &x-lg-10 {
          margin-left: 100px !important;
        }

        &l-lg-1,
        &x-lg-1 {
          margin-right: 10px !important;
        }

        &l-lg-2,
        &x-lg-2 {
          margin-right: 20px !important;
        }

        &l-lg-3,
        &x-lg-3 {
          margin-right: 30px !important;
        }

        &l-lg-4,
        &x-lg-4 {
          margin-right: 40px !important;
        }

        &l-lg-5,
        &x-lg-5 {
          margin-right: 50px !important;
        }

        &l-lg-10,
        &x-lg-10 {
          margin-right: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-lg-0,
        &x-lg-0 {
          padding-left: 0 !important;
        }

        &r-lg-1,
        &x-lg-1 {
          padding-left: 0.25rem !important;
        }

        &r-lg-2,
        &x-lg-2 {
          padding-left: 0.5rem !important;
        }
        &r-lg-3,
        &x-lg-3 {
          padding-left: 1rem !important;
        }

        &r-lg-4,
        &x-lg-4 {
          padding-left: 1.5rem !important;
        }

        &r-lg-5,
        &x-lg-5 {
          padding-left: 3rem !important;
        }

        &l-lg-0,
        &x-lg-0 {
          padding-left: 0 !important;
        }

        &l-lg-1,
        &x-lg-1 {
          padding-right: 0.25rem !important;
        }

        &l-lg-2,
        &x-lg-2 {
          padding-right: 0.5rem !important;
        }

        &l-lg-3,
        &x-lg-3 {
          padding-right: 1rem !important;
        }

        &l-lg-4,
        &x-lg-4 {
          padding-right: 1.5rem !important;
        }

        &l-lg-5,
        &x-lg-5 {
          padding-right: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-lg-1,
        &x-lg-1 {
          padding-left: 10px !important;
        }

        &r-lg-2,
        &x-lg-2 {
          padding-left: 20px !important;
        }

        &r-lg-3,
        &x-lg-3 {
          padding-left: 30px !important;
        }

        &r-lg-4,
        &x-lg-4 {
          padding-left: 40px !important;
        }

        &r-lg-5,
        &x-lg-5 {
          padding-left: 50px !important;
        }

        &r-lg-10,
        &x-lg-10 {
          padding-left: 100px !important;
        }

        &l-lg-1,
        &x-lg-1 {
          padding-right: 10px !important;
        }

        &l-lg-2,
        &x-lg-2 {
          padding-right: 20px !important;
        }

        &l-lg-3,
        &x-lg-3 {
          padding-right: 30px !important;
        }

        &l-lg-4,
        &x-lg-4 {
          padding-right: 40px !important;
        }

        &l-lg-5,
        &x-lg-5 {
          padding-right: 50px !important;
        }

        &l-lg-10,
        &x-lg-10 {
          padding-right: 100px !important;
        }
      }

      // Float
      .float-lg- {
        &right {
          float: left !important;
        }

        &left {
          float: right !important;
        }
      }
    }
  }

  .w-lg- {
    &25 {
      width: 25% !important;
    }
    &50 {
      width: 50% !important;
    }
    &75 {
      width: 75% !important;
    }
    &100 {
      width: 100% !important;
    }
  }

  .h-lg- {
    &25 {
      height: 25% !important;
    }
    &50 {
      height: 50% !important;
    }
    &75 {
      height: 75% !important;
    }
    &100 {
      height: 100% !important;
    }
  }
}

// Extra Large Screens
@media (min-width: 1200px) {
  // Bootstrap Default Margin
  .m {
    &-xl-0 {
      margin: 0 !important;
    }
    &t-xl-0,
    &y-xl-0 {
      margin-top: 0 !important;
    }

    &b-xl-0,
    &y-xl-0 {
      margin-bottom: 0 !important;
    }
  }

  // Custom Margin
  .t-m {
    &-xl-1 {
      margin: 10px !important;
    }

    &t-xl-1,
    &y-xl-1 {
      margin-top: 10px !important;
    }

    &b-xl-1,
    &y-xl-1 {
      margin-bottom: 10px !important;
    }

    &-xl-2 {
      margin: 20px !important;
    }

    &t-xl-2,
    &y-xl-2 {
      margin-top: 20px !important;
    }

    &b-xl-2,
    &y-xl-2 {
      margin-bottom: 20px !important;
    }

    &-xl-3 {
      margin: 30px !important;
    }

    &t-xl-3,
    &y-xl-3 {
      margin-top: 30px !important;
    }

    &b-xl-3,
    &y-xl-3 {
      margin-bottom: 30px !important;
    }

    &-xl-4 {
      margin: 40px !important;
    }

    &t-xl-4,
    &y-xl-4 {
      margin-top: 40px !important;
    }

    &b-xl-4,
    &y-xl-4 {
      margin-bottom: 40px !important;
    }

    &-xl-5 {
      margin: 50px !important;
    }

    &t-xl-5,
    &y-xl-5 {
      margin-top: 50px !important;
    }

    &b-xl-5,
    &y-xl-5 {
      margin-bottom: 50px !important;
    }

    &-xl-10 {
      margin: 100px !important;
    }

    &t-xl-10,
    &y-xl-10 {
      margin-top: 100px !important;
    }

    &b-xl-10,
    &y-xl-10 {
      margin-bottom: 100px !important;
    }
  }

  // Bootstrap Default Padding
  .p {
    &-xl-0 {
      padding: 0 !important;
    }
    &t-xl-0,
    &y-xl-0 {
      padding-top: 0 !important;
    }

    &b-xl-0,
    &y-xl-0 {
      padding-bottom: 0 !important;
    }
  }

  // Custom Padding
  .t-p {
    &-xl-1 {
      padding: 10px !important;
    }

    &t-xl-1,
    &y-xl-1 {
      padding-top: 10px !important;
    }

    &b-xl-1,
    &y-xl-1 {
      padding-bottom: 10px !important;
    }

    &-xl-2 {
      padding: 20px !important;
    }

    &t-xl-2,
    &y-xl-2 {
      padding-top: 20px !important;
    }

    &b-xl-2,
    &y-xl-2 {
      padding-bottom: 20px !important;
    }

    &-xl-3 {
      padding: 30px !important;
    }

    &t-xl-3,
    &y-xl-3 {
      padding-top: 30px !important;
    }

    &b-xl-3,
    &y-xl-3 {
      padding-bottom: 30px !important;
    }

    &-xl-4 {
      padding: 40px !important;
    }

    &t-xl-4,
    &y-xl-4 {
      padding-top: 40px !important;
    }

    &b-xl-4,
    &y-xl-4 {
      padding-bottom: 40px !important;
    }

    &-xl-5 {
      padding: 50px !important;
    }

    &t-xl-5,
    &y-xl-5 {
      padding-top: 50px !important;
    }

    &b-xl-5,
    &y-xl-5 {
      padding-bottom: 50px !important;
    }

    &-xl-10 {
      padding: 100px !important;
    }

    &t-xl-10,
    &y-xl-10 {
      padding-top: 100px !important;
    }

    &b-xl-10,
    &y-xl-10 {
      padding-bottom: 100px !important;
    }
  }

  body {
    // Right to Left
    &.rtl {
      // Bootstrap Default Margin
      .m {
        &r-xl-0,
        &x-xl-0 {
          margin-right: 0 !important;
        }

        &r-xl-1,
        &x-xl-1 {
          margin-right: 0.25rem !important;
        }

        &r-xl-2,
        &x-xl-2 {
          margin-right: 0.5rem !important;
        }
        &r-xl-3,
        &x-xl-3 {
          margin-right: 1rem !important;
        }

        &r-xl-4,
        &x-xl-4 {
          margin-right: 1.5rem !important;
        }

        &r-xl-5,
        &x-xl-5 {
          margin-right: 3rem !important;
        }

        &l-xl-0,
        &x-xl-0 {
          margin-left: 0 !important;
        }

        &l-xl-1,
        &x-xl-1 {
          margin-left: 0.25rem !important;
        }

        &l-xl-2,
        &x-xl-2 {
          margin-left: 0.5rem !important;
        }

        &l-xl-3,
        &x-xl-3 {
          margin-left: 1rem !important;
        }

        &l-xl-4,
        &x-xl-4 {
          margin-left: 1.5rem !important;
        }

        &l-xl-5,
        &x-xl-5 {
          margin-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-m {
        &r-xl-1,
        &x-xl-1 {
          margin-right: 10px !important;
        }

        &r-xl-2,
        &x-xl-2 {
          margin-right: 20px !important;
        }

        &r-xl-3,
        &x-xl-3 {
          margin-right: 30px !important;
        }

        &r-xl-4,
        &x-xl-4 {
          margin-right: 40px !important;
        }

        &r-xl-5,
        &x-xl-5 {
          margin-right: 50px !important;
        }

        &r-xl-10,
        &x-xl-10 {
          margin-right: 100px !important;
        }

        &l-xl-1,
        &x-xl-1 {
          margin-left: 10px !important;
        }

        &l-xl-2,
        &x-xl-2 {
          margin-left: 20px !important;
        }

        &l-xl-3,
        &x-xl-3 {
          margin-left: 30px !important;
        }

        &l-xl-4,
        &x-xl-4 {
          margin-left: 40px !important;
        }

        &l-xl-5,
        &x-xl-5 {
          margin-left: 50px !important;
        }

        &l-xl-10,
        &x-xl-10 {
          margin-left: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-xl-0,
        &x-xl-0 {
          padding-right: 0 !important;
        }

        &r-xl-1,
        &x-xl-1 {
          padding-right: 0.25rem !important;
        }

        &r-xl-2,
        &x-xl-2 {
          padding-right: 0.5rem !important;
        }
        &r-xl-3,
        &x-xl-3 {
          padding-right: 1rem !important;
        }

        &r-xl-4,
        &x-xl-4 {
          padding-right: 1.5rem !important;
        }

        &r-xl-5,
        &x-xl-5 {
          padding-right: 3rem !important;
        }

        &l-xl-0,
        &x-xl-0 {
          padding-left: 0 !important;
        }

        &l-xl-1,
        &x-xl-1 {
          padding-left: 0.25rem !important;
        }

        &l-xl-2,
        &x-xl-2 {
          padding-left: 0.5rem !important;
        }

        &l-xl-3,
        &x-xl-3 {
          padding-left: 1rem !important;
        }

        &l-xl-4,
        &x-xl-4 {
          padding-left: 1.5rem !important;
        }

        &l-xl-5,
        &x-xl-5 {
          padding-left: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-xl-1,
        &x-xl-1 {
          padding-right: 10px !important;
        }

        &r-xl-2,
        &x-xl-2 {
          padding-right: 20px !important;
        }

        &r-xl-3,
        &x-xl-3 {
          padding-right: 30px !important;
        }

        &r-xl-4,
        &x-xl-4 {
          padding-right: 40px !important;
        }

        &r-xl-5,
        &x-xl-5 {
          padding-right: 50px !important;
        }

        &r-xl-10,
        &x-xl-10 {
          padding-right: 100px !important;
        }

        &l-xl-1,
        &x-xl-1 {
          padding-left: 10px !important;
        }

        &l-xl-2,
        &x-xl-2 {
          padding-left: 20px !important;
        }

        &l-xl-3,
        &x-xl-3 {
          padding-left: 30px !important;
        }

        &l-xl-4,
        &x-xl-4 {
          padding-left: 40px !important;
        }

        &l-xl-5,
        &x-xl-5 {
          padding-left: 50px !important;
        }

        &l-xl-10,
        &x-xl-10 {
          padding-left: 100px !important;
        }
      }
    }

    // Left to Right
    &.ltr {
      // Bootstrap Default Margin
      .m {
        &r-xl-0,
        &x-xl-0 {
          margin-left: 0 !important;
        }

        &r-xl-1,
        &x-xl-1 {
          margin-left: 0.25rem !important;
        }

        &r-xl-2,
        &x-xl-2 {
          margin-left: 0.5rem !important;
        }
        &r-xl-3,
        &x-xl-3 {
          margin-left: 1rem !important;
        }

        &r-xl-4,
        &x-xl-4 {
          margin-left: 1.5rem !important;
        }

        &r-xl-5,
        &x-xl-5 {
          margin-left: 3rem !important;
        }

        &l-xl-0,
        &x-xl-0 {
          margin-right: 0 !important;
        }

        &l-xl-1,
        &x-xl-1 {
          margin-right: 0.25rem !important;
        }

        &l-xl-2,
        &x-xl-2 {
          margin-right: 0.5rem !important;
        }

        &l-xl-3,
        &x-xl-3 {
          margin-right: 1rem !important;
        }

        &l-xl-4,
        &x-xl-4 {
          margin-right: 1.5rem !important;
        }

        &l-xl-5,
        &x-xl-5 {
          margin-right: 3rem !important;
        }
      }
      // Custom Margin

      .t-m {
        &r-xl-1,
        &x-xl-1 {
          margin-left: 10px !important;
        }

        &r-xl-2,
        &x-xl-2 {
          margin-left: 20px !important;
        }

        &r-xl-3,
        &x-xl-3 {
          margin-left: 30px !important;
        }

        &r-xl-4,
        &x-xl-4 {
          margin-left: 40px !important;
        }

        &r-xl-5,
        &x-xl-5 {
          margin-left: 50px !important;
        }

        &r-xl-10,
        &x-xl-10 {
          margin-left: 100px !important;
        }

        &l-xl-1,
        &x-xl-1 {
          margin-right: 10px !important;
        }

        &l-xl-2,
        &x-xl-2 {
          margin-right: 20px !important;
        }

        &l-xl-3,
        &x-xl-3 {
          margin-right: 30px !important;
        }

        &l-xl-4,
        &x-xl-4 {
          margin-right: 40px !important;
        }

        &l-xl-5,
        &x-xl-5 {
          margin-right: 50px !important;
        }

        &l-xl-10,
        &x-xl-10 {
          margin-right: 100px !important;
        }
      }

      // Bootstrap Default Padding
      .p {
        &r-xl-0,
        &x-xl-0 {
          padding-left: 0 !important;
        }

        &r-xl-1,
        &x-xl-1 {
          padding-left: 0.25rem !important;
        }

        &r-xl-2,
        &x-xl-2 {
          padding-left: 0.5rem !important;
        }
        &r-xl-3,
        &x-xl-3 {
          padding-left: 1rem !important;
        }

        &r-xl-4,
        &x-xl-4 {
          padding-left: 1.5rem !important;
        }

        &r-xl-5,
        &x-xl-5 {
          padding-left: 3rem !important;
        }

        &l-xl-0,
        &x-xl-0 {
          padding-left: 0 !important;
        }

        &l-xl-1,
        &x-xl-1 {
          padding-right: 0.25rem !important;
        }

        &l-xl-2,
        &x-xl-2 {
          padding-right: 0.5rem !important;
        }

        &l-xl-3,
        &x-xl-3 {
          padding-right: 1rem !important;
        }

        &l-xl-4,
        &x-xl-4 {
          padding-right: 1.5rem !important;
        }

        &l-xl-5,
        &x-xl-5 {
          padding-right: 3rem !important;
        }
      }

      // Custom Margin
      .t-p {
        &r-xl-1,
        &x-xl-1 {
          padding-left: 10px !important;
        }

        &r-xl-2,
        &x-xl-2 {
          padding-left: 20px !important;
        }

        &r-xl-3,
        &x-xl-3 {
          padding-left: 30px !important;
        }

        &r-xl-4,
        &x-xl-4 {
          padding-left: 40px !important;
        }

        &r-xl-5,
        &x-xl-5 {
          padding-left: 50px !important;
        }

        &r-xl-10,
        &x-xl-10 {
          padding-left: 100px !important;
        }

        &l-xl-1,
        &x-xl-1 {
          padding-right: 10px !important;
        }

        &l-xl-2,
        &x-xl-2 {
          padding-right: 20px !important;
        }

        &l-xl-3,
        &x-xl-3 {
          padding-right: 30px !important;
        }

        &l-xl-4,
        &x-xl-4 {
          padding-right: 40px !important;
        }

        &l-xl-5,
        &x-xl-5 {
          padding-right: 50px !important;
        }

        &l-xl-10,
        &x-xl-10 {
          padding-right: 100px !important;
        }
      }

      // Float
      .float-xl- {
        &right {
          float: left !important;
        }

        &left {
          float: right !important;
        }
      }
    }
  }

  .w-xl- {
    &25 {
      width: 25% !important;
    }
    &50 {
      width: 50% !important;
    }
    &75 {
      width: 75% !important;
    }
    &100 {
      width: 100% !important;
    }
  }

  .h-xl- {
    &25 {
      height: 25% !important;
    }
    &50 {
      height: 50% !important;
    }
    &75 {
      height: 75% !important;
    }
    &100 {
      height: 100% !important;
    }
  }
}
